.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.navbar nav {
    list-style: none;
    display: flex;
}

.navbar nav li {
    margin-right: 20%;
}

.navbar a {
    text-decoration: none;
    color: rgb(26, 25, 25);
    opacity: 0.75;
}

.navbar a:hover {
    opacity: 1;
}